DB_HOST=db
DB_USERNAME=root
DB_PASSWORD=Zzxcasd1!
DB_DATABASE=sfir_pz1

APP_ENV=production
APP_DEBUG=false
APP_TIMEZONE=Europe/Moscow

DEFAULT_MACHINES=50
DEFAULT_REPAIRMEN=3
DEFAULT_K_WORK=2.2
DEFAULT_K_REPAIR=1.8
DEFAULT_STEP_HOURS=1
DEFAULT_REVENUE_RATE=20

MIN_WORK_TIME=132
MAX_WORK_TIME=183
MIN_REPAIR_TIME=4
MAX_REPAIR_TIME=10
U_MIN=0.001
U_MAX=0.999

PROFIT_PENALTY_PER_MACHINE=30
PROFIT_REPAIRMEN_COST=3.75
PROFIT_SHORTAGE_PENALTY=20

MAX_AUTO_STEPS=10000